html {
  overflow-y: scroll;
}  
table.dataTable.table-sm thead th.sorting:after, 
table.dataTable.table-sm thead th.sorting_asc:after, 
table.dataTable.table-sm thead th.sorting_desc:after {
    top: 0px;
    right: 4px;
}
.sweet-alert .lead {
    text-align: left;
}